<h1>{{ title }}</h1>

<h2>Please vote here:</h2>

<form method="post">

  <div class="table" id="poll">
    <div class="tr">
      <div class="th">Name</div>
    </div>
  
    <div class="tr">
        <label for="vote[name]" class="hidden">Name</label>
        <div class="td"><input type="text" id="vote[name]" name="vote_name"></input></div>
    </div>
  
  </div>

  <input type="submit" value="Vote"/>
</form>    
